<div>
    <div class="images-wrapper">
        <div class="image-holder" *ngFor="let webcomic of webcomics;index as i; first as isPrimer">
            <div class="comics" (click)="abrirModal(webcomic.id)"  >
                <ng-template #tipContent ><ngb-rating [(rate)]="currentRate"></ngb-rating></ng-template>
                <img src="../../assets/{{webcomic.Titol}}/imatge_caratula.jpg" alt="Planta1" [ngbTooltip]="tipContent">
                <h1>{{webcomic.Titol}}</h1>
                <p class="autor">{{webcomic.Descripcio}}</p>
                <p>{{webcomic.Genere}}</p>
            </div>
        </div>
    </div>
</div>
