#barracerca {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 35%;
  margin-left: 9%;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 500px 500px 100px;
  grid-column-gap: 5px;

}

#row {
  display: inline-block;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.image-holder {
  padding: 0.625rem;
}

.no-trobats {
  font-family: 'Hind Siliguri', sans-serif;
  width: 500px;
  height: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
  border: 20px black;
  border-style: double;

}
