.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-holder {
  padding: 0.625rem;
  /*for white border around images*/
}

.comics {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Kanit', sans-serif;
}


.autor {
  color: grey;
  font-size: 22px;
}

img {
  height: 28rem;
  width: 18.6rem;
}

#typeahead-format {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40%;
  margin-left: 9%;
  display: inline-block;
  margin-right: 10px;

}

#row {
  display: inline-block;
}