<div>
    
    <div id="barracerca">
        <input [(ngModel)]="cercaTitol" id="typeahead-format" type="text"  class="form-control" placeholder="CERCA PER TÍTOL"/>
        <input [(ngModel)]="cercaAutor" id="typeahead-format" type="text"  class="form-control" placeholder="CERCA PER AUTOR"/>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{cercaGenere}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div *ngFor="let genere of generes">
                    <button ngbDropdownItem (click)="filtrarGenere($event)" value={{this.genere}}>{{genere}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="images-wrapper">
        <div class="image-holder" *ngFor="let webcomic of webcomics | ordenarPer:cercaTitol:cercaAutor:cercaGenere;index as i; first as isPrimer">
            <div class="comics">
              <img src="../../assets/{{webcomic.Titol}}/imatge_caratula.jpg" alt="Planta1">
              <h1>{{webcomic.Titol}}</h1>
              <p class="autor">{{webcomic.Descripcio}}</p>
              <p>{{webcomic.Genere}}</p>
            </div>
        </div>
    </div>


</div>
