<div class="header">
  <h4 class="modal-title">{{comic.Titol}}</h4>
  <img src="../../assets/{{comic.Titol}}/portada.png">
</div>
<div class="cos">
  <div class="hola">
    <span class="llista-capitols">Llista de capítols</span>
    <div class="capitols" *ngFor="let nom of comic.Capitulos;index as i; first as isPrimer">
      <a class="capitol">
        <span class="capitol-nom">{{comic.Capitulos[i].nom}}</span>
        <span class="captiol-posicio">{{comic.Capitulos[i].posicio}}</span>
        <span class="capitol-data">{{comic.Capitulos[i].data}}</span>
      </a>
    </div>
  </div>
  <div class="descripcio">
    <h5>Descripció</h5>
    <p class="descripcio-cos">{{comic.Descripcio}}</p><br>
  </div>
</div>