<div class="header">
  <h4 class="modal-title">{{comic.Titol}}</h4>
  <img src="../../assets/{{comic.Titol}}/portada.png">
</div>
<div class="cos">
  <div class="hola">
    <span class="llista-capitols">Llista de capítols</span>
    <div class="capitols" *ngFor="let cap of comic.Capitulos;">
      <a class="capitol">
        <span class="capitol-nom">{{cap.nom}}</span>
        <span class="captiol-posicio">{{cap.posicio}}</span>
        <span class="capitol-data">{{cap.data}}</span>
      </a>
    </div>
  </div>
  <div class="descripcio">
    <div class="informacio">
      <ul><h5>Informació</h5>
        <li><b>Gènere: </b>{{comic.Genere}}</li>
        <li><b>Autor/a: </b>{{comic.Autor}}</li>
      </ul>
    </div>
    <h5>Descripció</h5>
    <p class="descripcio-cos">{{comic.Descripcio}}</p>
    <p>review</p>
    <h5>Puntuacion</h5>
    <ngb-rating (leave)="updateWebStorage(comic.id,comic.Puntuacion)"  [(rate)]="comic.Puntuacion" [readonly]="false" ></ngb-rating>
    <br><br>
    <button (click)="updateIndexeddb(comic.id,comic.Fav) ">mostrar efecte</button>
    <h5>Preview</h5><br>
    <p class="descripcio-cos">review</p><br>
  </div>
</div>
