
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"  class="noselect" (click)="ordenarPer($event)" ord="true">Títol</th>
    <th scope="col" class="noselect" (click)="ordenarPer($event)" ord="true">Gènere</th>
    <th scope="col" class="noselect" (click)="ordenarPer($event)" ord="true">Puntuació</th>
    <th scope="col"  class="noselect"(click)="ordenarPer($event)" ord="true">Preferit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let webcomic of webcomics | ordenarTaula:ordenarTipo:ordenarComo; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ webcomic.Titol }}</td>
    <td>{{ webcomic.Genere }}</td>
    <td class="puntuacion">{{ webcomic.Puntuacion }}</td>

    <td *ngIf="webcomic.Fav">Si</td>
    <td *ngIf="!webcomic.Fav">No</td>
  </tr>
  </tbody>
</table>

