.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-holder {
  padding: 0.625rem;
}

.comics {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  height: 40rem;

}


.autor {
  color: grey;
  font-size: 22px;
}

img {
  height: 28rem;
  width: 18.6rem;
  margin-bottom: 1rem;
}

h1{
  font-size: 2rem;
  height: 5rem;
}